body {background-color: black; color: white;}
h1  {font-size: 20px; 4}
p   { font-size: 12px;
    color: green;}

div.tyyli { color:hotpink;
            border-color: white;
            border-style: dotted;
            border-width: 2px;
            width: 100px;
            height: 100px;}

ol {list-style: lower-latin;}
ul {list-style: square;}
